parameters:
    redis:
        url: redis

application:
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    autoStart: false

services:
    - App\Redis(%redis.url%)
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

extensions:
    apiRouter: Ublaboo\ApiRouter\DI\ApiRouterExtension
